In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import pymongo
import json

In [7]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.listings_db

# Declare the collection
collection = db.listings

def import_content(filepath):
    mng_client = pymongo.MongoClient('localhost', 27017)
    mng_db = mng_client['db'] // Replace mongo db name
    collection_name = 'collection' // Replace mongo db collection name
    db_cm = mng_db[collection_name]
    cdir = os.path.dirname(__file__)
    file_res = os.path.join(cdir, filepath)

    
    data = pd.read_csv(file_res,dtype=str,na_filter=False)
    data_json = json.loads(data.to_json(orient='records'))
    db_cm.remove()
    db_cm.insert(data_json)

if __name__ == "__main__":
  filepath = '/ADDL'  // pass csv file path
  import_content(filepath)

In [3]:
dc_listings = db.listings.find()

In [4]:
dc_listings_df = pd.read_csv("dc_listings_clean.csv")

dc_listings_df.columns

Index(['id', 'accommodates', 'bedrooms', 'bathrooms', 'beds', 'price',
       'security_deposit', 'cleaning_fee', 'minimum_nights', 'maximum_nights',
       'number_of_reviews'],
      dtype='object')

In [5]:
dc_listings_df.head()

,id,accommodates,bedrooms,bathrooms,beds,price,security_deposit,cleaning_fee,minimum_nights,maximum_nights,number_of_reviews
0,7087327,4,1.0,1.0,2.0,160.0,100.0,115.0,1,1125,0
1,975833,6,3.0,3.0,3.0,350.0,0.0,100.0,2,30,65
2,8249488,1,1.0,2.0,1.0,50.0,0.0,0.0,2,1125,1
3,8409022,2,1.0,1.0,1.0,95.0,0.0,0.0,1,1125,0
4,8411173,4,1.0,1.0,1.0,50.0,450.0,15.0,7,1125,0

In [6]:
dc_listings_df = dc_listings_df[['accommodates','bedrooms', 'bathrooms', 'beds', 'price','minimum_nights', 'maximum_nights','number_of_reviews']]
dc_listings_df.columns

Index(['accommodates', 'bedrooms', 'bathrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews'],
      dtype='object')

In [7]:
dc_listings_df.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,4,1.0,1.0,2.0,160.0,1,1125,0
1,6,3.0,3.0,3.0,350.0,2,30,65
2,1,1.0,2.0,1.0,50.0,2,1125,1
3,2,1.0,1.0,1.0,95.0,1,1125,0
4,4,1.0,1.0,1.0,50.0,7,1125,0

In [101]:
# Need to Normalize the dataframe excluding price column , so removing price column
column_names_to_normalize = ['accommodates', 'bedrooms', 'bathrooms', 'beds','minimum_nights', 'maximum_nights', 'number_of_reviews']
df_minus_price = dc_listings_df[column_names_to_normalize]

In [10]:
train_feature1 = df_minus_price.copy()
train_feature2 = df_minus_price.copy()
train_feature3 = df_minus_price.copy()
#normalized_listings['price'] = dc_listings_df['price']

In [102]:
# Normalize data frame using standardScaler method
from sklearn.preprocessing import StandardScaler
import numpy as np
from scipy.spatial import distance
ss = StandardScaler()
normalized_listings = pd.DataFrame(ss.fit_transform(df_minus_price),columns = df_minus_price.columns)

/Users/mehrunnisha/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/mehrunnisha/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [104]:
#Normalized Dataframe
normalized_listings['price'] = dc_listings_df['price']
normalized_listings = normalized_listings[['accommodates','bedrooms', 'bathrooms', 'beds', 'price','minimum_nights', 'maximum_nights','number_of_reviews']]
normalized_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,0.400108,-0.241412,-0.416947,0.305461,160.0,-0.345094,-0.016458,-0.516394
1,1.394171,2.133163,2.955773,1.150358,350.0,-0.069034,-0.016489,1.676470
2,-1.090986,-0.241412,1.269413,-0.539436,50.0,-0.069034,-0.016458,-0.482657
3,-0.593954,-0.241412,-0.416947,-0.539436,95.0,-0.345094,-0.016458,-0.516394
4,0.400108,-0.241412,-0.416947,-0.539436,50.0,1.311270,-0.016458,-0.516394

In [110]:
#KNN model without sklearn library one feature i.e "accomodates"
normalized_listings = normalized_listings.sample(frac=1,random_state=0)# sample is randomize to avoid bias
norm_train_df = normalized_listings.copy().iloc[0:2792]
norm_test_df = normalized_listings.copy().iloc[2792:]

In [233]:

def predict_price_multivariate(new_listing_value,feature_columns):
    temp_df = norm_train_df
    temp_df['distance'] = distance.cdist(temp_df[feature_columns],[new_listing_value[feature_columns]])
    temp_df = temp_df.sort_values('distance')
    knn_5 = temp_df.price.iloc[:5]
    predicted_price = knn_5.mean()
    return(predicted_price)

cols = ['accommodates']
norm_test_df['predicted_price'] = norm_test_df[cols].apply(predict_price_multivariate,feature_columns=cols,axis=1)    
norm_test_df['squared_error'] = (norm_test_df['predicted_price'] - norm_test_df['price'])**(2)
mse = norm_test_df['squared_error'].mean()
rmse = mse ** (1/2)
print(rmse)

127.38270238884071

In [234]:
norm_test_df['price'].head()

1992    100.0
2253    229.0
2338    168.0
583     125.0
1580     65.0
Name: price, dtype: float64

In [235]:
norm_test_df['predicted_price'].head()

1992    204.8
2253    204.8
2338    205.0
583     156.0
1580     66.4
Name: predicted_price, dtype: float64

In [236]:
train_df =dc_listings_df[['price']]
train_target=train_df.iloc[0:2792]
train_target.shape

(2792, 1)

In [237]:
train_feature_df = train_feature1.copy().iloc[0:2792]
test_feature_df = train_feature1.copy().iloc[2792:]
train_target=train_df.iloc[0:2792]
test_target=train_df.iloc[2792:]

In [338]:
dc_listings_df.shape #(3723, 8)
train_feature1.shape #(3723, 7)
train_feature_df.shape #(2792, 7)
test_feature_df.shape #(931, 7)
train_target.shape #(2792, 1)
test_target.shape #(931,)

(931, 1)

In [339]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
knn = KNeighborsRegressor(algorithm='brute')

In [340]:
# KNN Model using sklearn Library one feature #############

In [384]:
#Single  Features
knn = KNeighborsRegressor(algorithm='brute')

cols = ['accommodates']

knn.fit(train_feature_df[cols], train_target)
one_feature_predictions = knn.predict(test_feature_df[cols])
one_feature_mse = mean_squared_error(test_target, one_feature_predictions)
one_feature_rmse = four_features_mse ** (1/2)
one_feature_rmse

128.37737921074046

In [366]:
#one featue RMSE : 128.37737921074046

In [367]:
prediction_df = pd.DataFrame(one_feature_predictions)

In [368]:
prediction_df.iloc[0:10, : ]

       0
0  178.8
1  125.4
2  113.6
3  223.0
4  126.8
5  184.6
6  119.0
7  134.4
8  107.2
9  117.4

In [369]:
KNN1_result_df = dc_listings_df.iloc[2792:2802,:]
KNN1_result_df

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
2792,2,0.0,1.0,1.0,120.0,1,1125,8
2793,3,2.0,2.0,1.0,140.0,2,1125,7
2794,4,2.0,1.0,1.0,299.0,2,1125,5
2795,3,1.0,1.0,1.0,85.0,1,92,2
2796,6,2.0,2.0,3.0,175.0,1,1125,62
2797,6,2.0,1.0,2.0,165.0,3,30,0
2798,4,1.0,1.0,2.0,54.0,1,1125,53
2799,2,1.0,1.0,1.0,49.0,2,30,23
2800,4,1.0,1.0,2.0,129.0,2,7,16
2801,3,1.0,1.0,1.0,110.0,3,365,34

In [370]:
KNN1_result_df.to_csv('knn1_dc_results.csv')

In [371]:
# KNN Model using sklearn Library one feature Ends #############

In [372]:
# KNN Model using sklearn Library four features #############

In [383]:
knn = KNeighborsRegressor(n_neighbors=10,algorithm='brute')

cols = ['accommodates','bedrooms','bathrooms','beds','number_of_reviews']

knn.fit(train_feature_df[cols], train_target)
five_features_predictions = knn.predict(test_feature_df[cols])
five_features_mse = mean_squared_error(test_target, five_features_predictions)
five_features_rmse = five_features_mse ** (1/2)
five_features_rmse

121.68073940261954

In [385]:
#five featue RMSE : 121.68073940261954

In [386]:
prediction_df['predicted_price'] = pd.DataFrame(four_features_predictions)
prediction_df = prediction_df[['predicted_price']]
prediction_df.shape
prediction_df.iloc[0:10, : ]
#print(prediction_df.iloc[2792,:])
#$print(prediction_df.iloc[2792:2797,:])
#prediction_df.head()

   predicted_price
0            110.6
1            155.6
2            154.2
3            113.0
4            164.0
5            438.8
6            108.0
7            124.4
8            195.2
9            115.8

In [390]:
#test_feature_df.head()

In [391]:
KNN5_result_df = dc_listings_df.iloc[2792:2802,:]
KNN5_result_df

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
2792,2,0.0,1.0,1.0,120.0,1,1125,8
2793,3,2.0,2.0,1.0,140.0,2,1125,7
2794,4,2.0,1.0,1.0,299.0,2,1125,5
2795,3,1.0,1.0,1.0,85.0,1,92,2
2796,6,2.0,2.0,3.0,175.0,1,1125,62
2797,6,2.0,1.0,2.0,165.0,3,30,0
2798,4,1.0,1.0,2.0,54.0,1,1125,53
2799,2,1.0,1.0,1.0,49.0,2,30,23
2800,4,1.0,1.0,2.0,129.0,2,7,16
2801,3,1.0,1.0,1.0,110.0,3,365,34

In [392]:
KNN5_result_df.to_csv('knn5_dc_results.csv')

In [393]:
# KNN Model using sklearn Library Four Features Ends #############

In [394]:
# KNN Model using sklearn Library seven features #############

In [395]:
#Multiple Features
knn = KNeighborsRegressor(n_neighbors=10,algorithm='brute')#,

cols = ['accommodates','bedrooms','bathrooms','beds','minimum_nights', 'maximum_nights','number_of_reviews']

knn.fit(train_feature_df[cols], train_target)
seven_features_predictions = knn.predict(test_feature_df[cols])
seven_features_mse = mean_squared_error(test_target, seven_features_predictions)
seven_features_rmse = seven_features_mse ** (1/2)
seven_features_rmse

117.02760748215259

In [396]:
prediction_df = pd.DataFrame(seven_features_predictions)

In [397]:
#purchase_df.iloc[0:4, : ]
prediction_df.iloc[0:10, : ]

       0
0   98.8
1  144.5
2  153.7
3  162.1
4  131.1
5  254.5
6  111.1
7  124.3
8  114.7
9  170.9

In [398]:
test_feature_df.head()
KNN7_result_df = dc_listings_df.iloc[2792:2802,:]

In [399]:
KNN7_result_df.iloc[0:10, : ]

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
2792,2,0.0,1.0,1.0,120.0,1,1125,8
2793,3,2.0,2.0,1.0,140.0,2,1125,7
2794,4,2.0,1.0,1.0,299.0,2,1125,5
2795,3,1.0,1.0,1.0,85.0,1,92,2
2796,6,2.0,2.0,3.0,175.0,1,1125,62
2797,6,2.0,1.0,2.0,165.0,3,30,0
2798,4,1.0,1.0,2.0,54.0,1,1125,53
2799,2,1.0,1.0,1.0,49.0,2,30,23
2800,4,1.0,1.0,2.0,129.0,2,7,16
2801,3,1.0,1.0,1.0,110.0,3,365,34

In [400]:
KNN7_result_df.to_csv('knn7_dc_results.csv')

In [335]:
# KNN Model using sklearn Library seven features Ends #############